<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle *ngFor="let page of appPages" auto-hide="false">
            <ion-item
              [routerLink]="[page.url]"
              routerDirection="root"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon [name]="page.icon" slot="start"></ion-icon>
              <ion-label>{{ page.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet
      id="main-content"
      [environmentInjector]="environmentInjector"
    ></ion-router-outlet>
  </ion-split-pane>
</ion-app>
