<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/classroom.jpg" alt="Classroom" />
    <ion-card-header>
      <ion-card-subtitle>Classroom Attendance Manager</ion-card-subtitle>
      <ion-card-title>@10Dance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        @10Dance is an attendance application originally designed to help Sunday
        School teachers keep track of the students in their classes.
      </p>
    </ion-card-content>
    <a routerLink="/roster" routerDirection="root">Go To Roster</a>
  </ion-card>
</ion-content>
