<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Classroom Attendance Manager</ion-card-subtitle>
      <ion-card-title>@10Dance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        @10Dance is an attendance application originally designed to help Sunday School teachers
        keep track of the students in their classes. To get started, click the menu icon and choose
        <strong>Setup</strong>. The <strong>Students</strong> tab will enable you to manage your students.
        Click on the <strong>Classes</strong> tab to create new classes and assign students to
        each class.
      </p>
      <p>
        Once you have a database of classes and assigned students, access the class roster by selecting
        the class from the main menu. Select students to check them in or out of your class, and
        also to send a message to the students' parents.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>