<ng-container *ngIf="studentVm$ | async as student">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/roster"></ion-back-button>
        <!-- Add the menu button right after the back button -->
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{student.firstName}} {{student.lastName}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onSubmit(student)"
          [disabled]="!studentForm.valid">
          <ion-icon slot="icon-only"
            name="save"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form (ngSubmit)="onSubmit(student)"
      #studentForm="ngForm">
      <ng-container>
        <ion-item>
          <ion-label>Photo (Click to change)</ion-label>
        </ion-item>
        <ion-item (click)="takePicture(student)">
          <img *ngIf="student?.image"
            class="student-photo"
            [src]="student.image">
          <img *ngIf="!student?.image"
            class="student-photo"
            src="./assets/images/camera.png">
        </ion-item>
        <ion-item>
          <ion-label [color]="firstName.valid ? '' : 'danger'"
            position="stacked">First Name
            <span *ngIf="firstName?.errors?.required">is Required</span>
          </ion-label>
          <ion-input name="firstName"
            required
            #firstName="ngModel"
            [(ngModel)]="student.firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input name="lastName"
            required
            [(ngModel)]="student.lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Birth Date</ion-label>
          <ion-input name="birthDateInput"
            #birthDate="ngModel"
            type="date"
            [(ngModel)]="student.birthDate"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Birth Date</ion-label>
          <ion-datetime presentation="date"
            name="birthDate"
            required
            min="1900-01-01"
            max="2012-12-31"
            size="cover"
            [(ngModel)]="student.birthDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Parent's Name</ion-label>
          <ion-input name="parentName"
            required
            [(ngModel)]="student.parentName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Parent's Email</ion-label>
          <ion-input name="email"
            required
            type="email"
            [pattern]="emailPattern"
            [(ngModel)]="student.parentEmail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Parent's Phone</ion-label>
          <ion-input name="parentPhone"
            required
            type="tel"
            [(ngModel)]="student.parentPhone"></ion-input>
        </ion-item>
      </ng-container>
      <ng-container>
        <ion-grid fixed>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label [color]="firstName.valid ? '' : 'danger'"
                  position="stacked">First Name
                  <span *ngIf="firstName?.errors?.required">is Required</span>
                </ion-label>
                <ion-input name="firstName"
                  required
                  #firstName="ngModel"
                  [(ngModel)]="student.firstName"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Last Name</ion-label>
                <ion-input name="lastName"
                  required
                  [(ngModel)]="student.lastName"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Birth Date</ion-label>
                <ion-input name="birthDateInput"
                  #birthDate="ngModel"
                  type="date"
                  [(ngModel)]="student.birthDate"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Parent's Email</ion-label>
                <ion-input name="email"
                  required
                  type="email"
                  [pattern]="emailPattern"
                  [(ngModel)]="student.parentEmail"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Parent's Phone</ion-label>
                <ion-input name="parentPhone"
                  required
                  type="tel"
                  [(ngModel)]="student.parentPhone"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Parent's Name</ion-label>
                <ion-input name="parentName"
                  required
                  [(ngModel)]="student.parentName"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Birth Date</ion-label>
                <ion-datetime presentation="date"
                  name="birthDate"
                  size="fixed"
                  required
                  min="1900-01-01"
                  max="2012-12-31"
                  [(ngModel)]="student.birthDate"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
      <pre>
        {{student | json}}
      </pre>
      <pre>
        Status: {{studentForm.form.status}}
        Pristine: {{studentForm.form.pristine}}
        Touched: {{studentForm.form.touched}}
        Errors: {{studentForm.form.errors | json}}
      </pre>
    </form>
  </ion-content>
</ng-container>
